@im: !important;
@purple: #6e4e9e;
@w: #ffffff;
@b: #000000;


body {
	color: #5a5a5a;
	padding-top: 3rem;
  	padding-bottom: 3rem;
}

p {
	color: lighten(@b, 60%);
	font-size: 16px;
	letter-spacing: 1.5px;
}

.btn-purple {
	background-color: @purple;
	border-color: @purple;
	color: @w;
	font-weight: 400;
	letter-spacing: 2px;
}

.btn-purple:hover {
	background-color: darken(@purple, 15%);
	border-color: darken(@purple, 15%);
	color: @w;
}

p {
	color: #999999;
}

/*===========================================================
                    Nav
===========================================================*/

.navbar-light{
	background-color: rgba(86, 61, 124, 0.8);
	-webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}

.navbar-light.padded {
	background-color: @purple;
	padding: 15px;
	-webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}

.navbar-light.padded .navbar-brand {
	font-size: 28px;
	padding: 0;
	-webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}

.navbar-light .navbar-brand {
	color: lighten(@purple, 30%);
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 1.5px;
	-webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}

.navbar-light .navbar-brand:hover {
	color: lighten(@purple, 50%);
}

.navbar-light .nav-item {

}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active > .nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show > .nav-link {
	color: @w;
	font-size: 18px;
	letter-spacing: 1.5px;
	padding-right: 10px;
	text-transform: capitalize;
}

.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover {
	color: lighten(@purple, 20%);
}

/*===========================================================
                    Carousel 
===========================================================*/

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 35rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 35rem;
}

.carousel-indicators li {
	background-color: rgba(163, 140, 198,.5)
}

.carousel-indicators .active {
	background-color: @purple;
}

/*===========================================================
                    Featured section
===========================================================*/

#feat {
	padding: 25px 0;
}

#feat .feat-inner {
	
}

.feat-inner .img-wrapper {
	margin: 15px auto;
}

.feat-inner .img-wrapper .fa {
	background-color: @purple;
	border-radius: 100%;
	color: @w;
	font-size: 75px;
	padding: 30px;
	vertical-align: middle;
}

.feat-inner .feat-content {
	margin: 10px auto;
}

.feat-inner .feat-content h2 {
	color: lighten(@purple, 20%);
	padding: 10px 0;
	text-transform: capitalize;
}

.feat-inner .feat-content p {
	letter-spacing: 0.7px;
	line-height: 1.8em;
}


/*===========================================================
                    About section
===========================================================*/

#about {
	background-color: #f5f5f5;
	padding: 50px 20px;
}
